<!Doctype html>
<html>
<head>
	<meta charset="utf-8">
	<style>
	<!-- ПРОСТО ПОСЕРЕДИНЕ ФОРМЫ РАСПОЛОЖИМ -->
		.center{
			text-align:center;
		}
	</style>
</head>
<body>
	{{error}}<br>
	<!-- СТАНДАРТНАЯ ФОРМА ДЛЯ РЕГИСТРАЦИИ-->
	<form action="signUp.php" method="post" class="center"> 
			<input type="" name="login" placeholder="Логин тут"><br>
			<input type="password" name="password" placeholder="Пароль тут"><br>
			<input type="password" name="password2" placeholder="Повторите пароль"><br>
			Дата рождения<br>
			<input type="" name="date" placeholder="гггг-мм-дд"><br>
			<button>Регистрировать</button>
	</form>
</body>
</html>